.navigation-menu {
  width: 100%;

  ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: rgba(230, 230, 250);
    align-items: center;
  }

  li {
    list-style: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
  }

}

a:hover {
  border-bottom-width: 4px;
  border-bottom-style: groove;
  border-bottom-color: indigo;
}
